footer {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 4rem 2rem 2rem;
}

footer .container {
  display: flex;
  justify-content: center;
}

footer a {
  color: var(--purple-light);
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: var(--purple);
  text-decoration: underline;
}
